@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

:root {
	font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}
}


* body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

h2 {
	font-size: 2.5em;
	line-height: 1.1;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}